* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: white;
    background-color: rgb(17, 17, 17);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

main {
    width: 500px;
    height: 600px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.container-vaga {
    display: flex;
    justify-content: space-around;

}

.vaga-a .vaga {
    border-right: 0px;
}

.vaga-b .vaga {
    border-left: 0px;
}

label {
    font-size: 12px;
    font-weight: bold;
}

#info-card {
    margin-top: 15%;
    display: none;
    position: fixed;
    width: 20%;
    height: 30%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.card {
    position: relative;
    background-color: #333;
    padding: 25px 25px 20px 25px;
    border-radius: 10px;
    width: 350px;
}

.close {
    position: absolute;
    top: 15px;
    right: 18px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #6e6e6e;
}

.add-vaga {
    outline: none;
    border-radius: 10px;
    width: 97%;
    border: 0;
    height: 40px;
    padding-left: 3%;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #000000;
}

.add {
    background-color: #007bff;
    border: 0;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
}

#pagar {
    background-color: rgb(10, 153, 41);
    margin-top: 20px;
    border: 0;
    color: white;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#pagarmanual {
    background-color: rgb(0, 46, 10);
    margin-top: 20px;
    border: 1px solid green;
    color: rgb(27, 189, 5);
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.delete {
    margin-top: 5px;
    background-color: rgb(173, 14, 14);
    border: 0;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

#popup-message {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 60%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    z-index: 1000;
    font-size: 23px;
}

.pcontent {
    display: flex;
    flex-direction: column;
}

#popup-ticket {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#popup-ticket p {
    margin-top: 20px;
    background-color: #333;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    font-size: 23px;
    display: flex;
    align-items: flex-end;
}

#popup-message.show {
    display: block;
    animation: fadeOut 3s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.vaga-label {
    background-color: transparent;
    color: #19b913;
    padding: 5px;
    border: 1px solid #19b913;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px;
}

.vaga {
    color: white;
    background-color: rgb(48, 69, 138);
    border: 1px solid white;
    width: 140px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: -1px 1px 30px rgba(255, 255, 255, 0.08);
    cursor: pointer;
}

.categorias {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#carro {
    transform: rotate(90deg);
}

.car-image {
    transform: rotate(90deg);
}

.areas {
    color: black;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    border: 0;
    transition: 0.2s all ease;
    cursor: pointer;
}

.areas:hover {
    box-shadow: -1px 1px 10px rgba(104, 103, 106, 0.691);
}

.content {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 60px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.list {
    border-left: 1px solid rgba(255, 255, 255, 0.26);
    text-align: start;
    gap: 20px;
    font-weight: bold;
    padding: 10px;
}

.li {
    padding: 10px;
    transition: 0.2s all ease;
}

.li:hover {
    border-radius: 10px;
    background-color: white;
    color: black;

}

table {
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    background-color: #007bff;
    text-align: left;
}

.hidden {
    display: none;
}

:root {
    /* ===== Cores ===== */
    --primary-color: #007bff;
    --panel-color: #333;
    --text-color: #ffffff;
    --black-light-color: #ffffff;
    --border-color: #333;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;

    /* ====== Transição ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

nav {
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    text-decoration: none;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

section {
    padding: 30px;
    width: 75%;
    height: 100%;
}

.clientes-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav .logo-name {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

nav .logo-image {
    display: flex;
    gap: 10px;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 50px;
    border-radius: 10%;
}

nav .logo-name .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links {
    padding: 0;
}

.menu-items li a i {
    font-size: 18px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
    padding: 0;
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    width: 100%;
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#info-pay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#search-input {
    height: 40px;
    border-radius: 10px;
    width: 50%;
    border: 0;
    height: 40px;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}
#search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.ticket {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
    background-color: #f8f8f8;
    margin: 20px;
    color: #000000;
    border-radius: 15px;
    padding: 20px;
    font-weight: bold;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

.ticket::before,
.ticket::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, transparent 50%, #ccc 50%);
    background-size: 20px 10px;
}

.ticket::before {
    top: -10px;
    /* Posiciona acima do elemento */
    left: 0;
}

.ticket::after {
    bottom: -10px;
    /* Posiciona abaixo do elemento */
    left: 0;
}

.ticket .ticket-header {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

.ticket p {
    margin: 10px 0;
    font-size: 0.9em;
}

.ticket .ticket-footer {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed #ccc;
}

.ticket .add {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 0.9em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.ticket .add:hover {
    background-color: #0056b3;
}


#popup {
    display: none;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.884);
    /* Cor do popup */
    backdrop-filter: blur(5px);
    /* Desfoque do fundo */
    box-shadow: 1px 1px 100px rgb(41, 0, 43);
    z-index: 1000;
    font-size: 16px;
}

#qr-code-container {
    display: none;
    display: flex;
    justify-content: center;
    position: fixed; 
    align-items: center;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: #3f3f3f00;
}

#qr-code-container img{
    position: fixed; 
    top: 20%;
    width: 500px;
}

.popup-content {
    position: fixed;
    left: 23%;
    width: 50%;
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
}

input[type="date"]{
    margin-top: 20px;
    background-color: #003569;
    padding: 10px;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.datas {
    margin-bottom: 20px;
}
