* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    color: white;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: space-evenly;
}

main {
    width: 500px;
    height: 600px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#main {
    transition: margin-left .5s;
}

.vagas {
    display: flex;
    justify-content: space-around;
    height: 550px;
}

.vaga-a .vaga {
    border-right: 0px;
}

.vaga-b .vaga {
    border-left: 0px;
}

label {
    font-size: 12px;
    font-weight: bold;
}

#info-card {
    margin-top: 15%;
    display: none;
    position: fixed;
    width: 20%;
    height: 30%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.card {
    position: relative;
    background-color: #333;
    padding: 35px 30px 20px 30px;
    border-radius: 10px;
    width: 350px;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

input {
    outline: none;
    border-radius: 10px;
    width: 96%;
    border: 0;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #252525;
    color: #fff;
}

.add {
    background-color: purple;
    border: 0;
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
}

.delete {
    margin-top: 5px;
    background-color: rgb(173, 14, 14);
    border: 0;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.vaga {
    color: white;
    background-color: rgb(71, 36, 115);
    border: 1px solid white;
    width: 140px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: -1px 1px 30px rgba(255, 255, 255, 0.08);
    cursor: pointer;
}

.categorias {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#carro {
    transform: rotate(90deg);
}

.car-image {
    transform: rotate(90deg);
}

.areas {
    color: black;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    border: 0;
    transition: 0.2s all ease;
    cursor: pointer;
}

.areas:hover {
    box-shadow: -1px 1px 10px rgba(104, 103, 106, 0.691);
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoes {
    background-color: rgb(53, 27, 53);
    border: 1px solid rgb(194, 126, 214);
    color: white;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.popup {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
}

/* Estilos para o conteúdo do pop-up */
.popup-content {
    background-color: #303030;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 20px;
    max-width: 70%;
    text-align: center;
}

.content {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 60px;
}

/* Estilos para o botão de fechar */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.list {
    border-left: 1px solid rgba(255, 255, 255, 0.26);
    text-align: start;
    gap: 20px;
    font-weight: bold;
    padding: 10px;
}

.li {
    padding: 10px;
    transition: 0.2s all ease;
}

.li:hover {
    border-radius: 10px;
    background-color: white;
    color: black;
    
}

table {
    font-size: 14px;
    width: 20px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #5c185c;
    text-align: left;
}

:root{
    /* ===== Cores ===== */
    --primary-color: #a200ff;
    --panel-color: #333;
    --text-color: #ffffff;
    --black-light-color: #ffffff;
    --border-color: #333;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transição ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}   

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 35px;
    object-fit: cover;
    border-radius: 10%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links {
    padding: 0;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 18px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
    padding: 0;
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  .nav-links {
    list-style-type: none;
    padding: 0;
  }

  .nav-links li {
    display: inline-block;
    margin-right: 20px;
  }

  .nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .nav-links li a:hover {
    color: #db0f0f;
  }

@media (max-width: 1000px) {
    nav{
        width: 50px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 50px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}